@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "Inter", sans-serif;
  --font-geist-mono: "Roboto Mono", monospace;
}

body {
  font-family: var(--font-inter), sans-serif;
}

code {
  font-family: var(--font-roboto-mono), monospace;
}
